// import
@import 'fonts.scss';
@import 'normalize.scss';
@import '../vendor/_config.scss';
@import '../vendor/_vars.scss';
/*
1. Обратить внимание, на странице restaurant-inner, хлебные крошки закинуты в секцию интро и доюавлен дополнительны класс
2. В About у header есть дополнительный класс header-white
3. В restaurant-inner, в dish-list добавлен класс wrap
4. Модалки как обычно, чтобы она вызывалась, кнопке надо добавить класс modal-contact
5. Подключение скриптов, cтилей, попапы все основное как всегда в index
6. Если попап с фото не открывается, в атрибут href прописать путь к картинке, и добавить data-fancybox с названием группы картинок
7. ВНИМАНИЕ: Ссылки на телефон и емейл сделаны отдельно для мобилки в header-mobile
*/

b {
    font-family: 'Gilroy Bold';
}

ol {
    display: block;
    margin: 0;
    padding: 0;
}

a,
span,
p,
input,
button,
select,
option,
textarea,
label,
blockquote {
    color: #FFFFFF;
    font-family: 'Gilroy Regular';
    font-size: 16px;
    font-style: normal;
    line-height: 140%;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    color: #FFFFFF;
}

input::placeholder,
textarea::placeholder {
    color: #FFFFFF;
    opacity: 0.4;
}

input {
    border: none;
    width: 100%;
    font-family: 'Gilroy Regular';
    padding: 22px 35px;
    font-size: 19px;
    color: #FFFFFF;
}

textarea {
    border: 1px solid #e1e1e1;
    font-family: 'Gilroy Regular';
    font-size: 19px;
    color: #FFFFFF;
    width: 100%;
    padding: 22px 35px;
}

label.error {
    font-size: 14px;
    color: red;
    margin-top: 5px;
    display: inline-block;
}

.container {
    padding: 0 20px;
    width: 1240px;
    margin: 0 auto;
}

body {
    background-image: url(../img/Main-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    &-wrapper {
        padding: 33px 0 42px 0;

    }

    &__logo {
        margin-right: 60px;
        width: 52px;
        height: 44px;
    }

    &__nav {
        ul {
            display: flex;

            li {
                &:not(:last-child) {
                    margin-right: 20px;
                }

                a {
                    color: #FFFFFF;
                    font-family: 'Gilroy Regular';
                    transition: $anim-default;
                    line-height: 100%;

                    &:hover {
                        color: #69afec;
                    }
                }
            }
        }
    }

    &-burger {
        display: none;
    }

    .menu {
        display: none;
    }

    // _______________________________
}

.intro {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__image {
        width: 426px;
        height: 518px;
    }
}



.intro-info {
    width: 640px;

    &__title {
        font-size: 60px;
        margin-bottom: 40px;
        text-align: start;

        span {
            font-size: 60px;
        }
    }

    &__descr {
        width: 397px;
        color: #FFF;
        font-family: 'Gilroy Regular';
        font-size: 20px;
        font-style: normal;

        line-height: 140%;
        padding-bottom: 50px;
    }

    &__btn {
        width: 170px;
        margin: 0;

        span {
            color: #FFF;
            font-family: 'Gilroy Regular';
            font-size: 14px;
            font-style: normal;

            line-height: 100%;
            background: unset;
        }
    }
}



.partners {

    &-slider {
        &-item {
            width: 184px;
            height: 74px;
            padding: 17px 42px 18px 42px;
            border-radius: 10px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &-pagination {
            display: none;
        }
    }

    &-wrapper {
        margin-top: 40px;
    }

    &-block {
        position: relative;
    }




    &-panel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -70px;
        width: calc(100% + 140px);

        &__prev,
        &__next {
            transition: $anim-default;
            display: flex;
            align-items: center;

            &:hover {
                transform: scale(0.9);
            }
        }
    }
}

.mission {
    &-info {
        width: 488px;

        &__title {

            margin-bottom: 30px;
            text-align: start;


        }

        &__descr {
            font-size: 20px;
        }
    }
    .mission-video__poster.hidden {
        display: none;
    }
    &-video {
        width: 590px;
        height: 400px;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(21, 27, 67, 0.00) 0%, #151B43 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        overflow: hidden;
        position: relative;

        video {
            width: 100%;
            height: 100%;
        }

        &__poster {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;

            svg {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.how {
    &-slider {
        &-item {

            align-items: center;
            position: relative;
            width: 387px;
            min-height: 260px;
            border-radius: 20px;
            padding: 30px;
            border: 1px solid rgba(255, 255, 255, 0.00);
            border-top: none;
            overflow: hidden;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);

            &:not(:last-child) {
                margin-right: 20px;
            }

            &__num {
                width: 46px;
                height: 46px;
                border-radius: 20px 0 20px 0;
                background: linear-gradient(96deg, rgba(105, 230, 236, 0.10) 26.21%, rgba(188, 105, 250, 0.10) 102.69%);
                color: #69E6EC;
                font-family: "Gilroy Medium";
                font-size: 20px;
                position: absolute;
                top: 0;
                left: 0;

            }

            &__image {
                width: 87px;
                height: 124px;
                padding-bottom: 20px;
            }
        }
    }
}

.objects {

    .objects-swiper {
        display: none;
    }

    // .swiper-slide,
    // .swiper-pagination {
    //     display: none;
    // }


    &-card {
        width: 100%;
        max-width: 100%;
        padding: 30px;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.00);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);
        border-top: none;
        align-self: baseline;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-img {
            margin-right: 40px;
            width: 387px;
            height: 268px;
            border-radius: 16px;
            overflow: hidden;
        }

        &-info {
            width: 700px;

            &__title {
                margin: 20px 0;
                font-family: "Gilroy Medium";
                font-size: 24px;
                font-style: normal;
                line-height: 100%;
            }

            &__descr {
                margin-bottom: 40px;
                line-height: normal;

            }


            &-img {
                cursor: pointer;

                li {
                    &:not(:nth-child(9n+9)) {
                        margin-right: 20px;
                    }

                    &:not(:nth-child(-n+9)) {
                        margin-top: 20px;
                    }
                }

                &__small-photo {

                    width: 60px;
                    height: 60px;
                    border-radius: 10px;
                    overflow: hidden;
                    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
                    object-fit: cover;
                    opacity: 0.5;
                    transition: opacity 0.3s ease;

                    &.active {
                        opacity: 1;
                        border: 1px solid #FFF;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


.news {
    &-block {
        padding-bottom: 50px;
    }

    &-card {
        width: 285px;
        position: relative;

        &:not(:nth-child(4n+4)) {
            margin-right: 20px;
        }

        &:not(:nth-child(-n+4)) {
            margin-top: 60px;
        }

        &::before {
            content: ' ';
            position: absolute;
            transform: translateY(0, -50%);
            top: 0;
            left: 0;
            width: 100%;
            height: 65%;
            background: radial-gradient(50% 50% at 50% 50%, #3497E3 0%, rgba(52, 151, 227, 0.00) 100%);
            // filter: blur(25px);
            z-index: -1;
            opacity: 1;
            transition: $anim-default;



        }

        &__img {
            width: 285px;
            height: 285px;
            margin-bottom: 30px;
            border-radius: 20px;
            overflow: hidden;



            img {

                filter: grayscale(1);
                border-radius: 20px;

            }

        }

        &:hover {
            &::before {
                opacity: 1;
                transform: scale(1.4);
            }

            .news-card__img {
                img {
                    filter: grayscale(0);
                    transition: $anim-default;

                }
            }

        }



        &__descr {
            margin-bottom: 20px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3;

        }

        &__data {
            opacity: 0.5;
            font-size: 12px;
        }


    }
}


.review {
    &-block {
        padding-bottom: 50px;
    }

    &-card {
        width: 590px;
        height: 100%;
        padding: 40px;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);
        border-top: none;
        transition: $anim-default;


        &:not(:nth-child(2n+2)) {
            margin-right: 20px;
        }

        &:not(:nth-child(-n+2)) {
            margin-top: 20px;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }
    }

    &-img {
        margin-right: 32px;
        position: relative;
        width: 90px;
        height: 90px;
        padding: 25px;
        border-radius: 60px;
        opacity: 0.1;
        background: rgba(255, 255, 255, 0.3);

        img {
            opacity: 1;
        }


    }

    &-info {
        width: 388px;

        &__title {
            font-size: 20px;
            font-family: "Gilroy SemiBold";
            margin-bottom: 12px;
        }

        &__descr {
            margin-bottom: 12px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 4;
            transition: -webkit-line-clamp 0.3s ease;

        }

        &__link {
            position: relative;
            color: #69E6EC;
            font-size: 16px;
            border-bottom: 1px solid #69E6EC;
            cursor: pointer;

        }

        &__link:hover {
            color: #4bb9bf;
        }
    }

    .expanded {
        -webkit-line-clamp: initial;

    }



}

.contact {


    &-block {
        &__title {
            text-align: start;
            padding-bottom: 20px;

        }

        &-descr {
            margin-bottom: 40px;

            &__time {
                font-family: "Gilroy Semibold";
            }
        }

        &-form {


            &__name,
            &__number {
                margin-bottom: 20px;


            }


            &-bg {
                position: relative;

                &::before {
                    content: '';
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    background: linear-gradient(96deg, #69E6EC 26.21%, #BC69FA 102.69%);
                    border-radius: 600px;
                    z-index: -2;
                }

                &::after {
                    content: '';
                    width: calc(100% - 5px);
                    height: calc(100% - 5px);
                    transform: translate(-50%, -50%);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: #151B43;
                    border-radius: 600px;
                    z-index: -1;
                }

                input {
                    border: 3px solid #444969;
                    transition: $anim-default;

                    &:focus {
                        border: 3px solid transparent;
                    }
                }
            }

        }

        .contact-message-comment {
            display: none;
        }

        &__comment {
            display: block;
            width: 410px;
            font-size: 18px;
        }

        &-message {
            margin-bottom: 30px;
            width: 410px;
        }
    }








    &-message {



        &-app__telegram,
        &-app__whatsapp {
            width: 48px;
            height: 48px;
            padding: 12px;
            border-radius: 40px;
        }



        &-email {
            &__info {
                width: 197px;

                &-link {
                    font-size: 20px;
                    font-family: "Gilroy Semibold";

                    &:hover {
                        color: #69afec;
                    }
                }

                &-descr {
                    font-size: 14px;
                }
            }



            &__img {
                width: 48px;
                height: 48px;
                margin-right: 12px;

            }
        }

        &-app {


            :hover {
                transform: scale(1.1);
            }

            &__telegram {
                background: #3CA3F1;
                margin-right: 10px;
                transition: $anim-default;


            }

            &__whatsapp {
                background: #1CC25F;
                transition: $anim-default;
            }

        }


        &-app {
            width: 233px;
            justify-content: flex-end;
        }
    }
}




.map {
    width: 590px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;


}

.footer {


    &-top {
        padding: 33px 0 33px 0;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.2);
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &__nav {
            & ul {
                & li {


                    &:not(:last-child) {
                        margin-right: 40px;

                    }

                    a {
                        transition: $anim-default;

                        &:hover {
                            color: #69afec;
                        }
                    }

                }
            }
        }

        &__logo {
            margin-right: 100px;
            width: 52px;
            height: 44px;
        }


    }




    &-end {
        padding: 30px 0;

        &__comit {
            font-size: 14px;
        }

        &__private {
            font-size: 14px;

            &:hover {
                color: #69afec;
            }
        }
    }

}

// 404--------------

.error {
    padding-bottom: 90px;
    border-bottom: 1px solid rgba(#fff, 0.2);
    margin-bottom: 80px;

    &-info {
        width: 364px;

        &__title {
            margin-bottom: 30px;
            text-align: start;
            font-family: "Gilroy Regular";
        }

        &__descr {
            width: 364px;
            color: #FFF;
            font-family: 'Gilroy Regular';
            font-size: 22px;
            font-style: normal;

            line-height: 140%;
            padding-bottom: 50px;
        }

        &__btn {
            padding: 18px 30px;
            margin: 0;

            span {
                color: #FFF;
                font-family: 'Gilroy Regular';
                font-size: 14px;
                font-style: normal;

                line-height: 100%;
                background: unset;
            }
        }
    }

    &__image {
        width: 608px;
        height: 258px;
    }
}


.news {
    &-wrapper {
        &__descr {

            text-align: center;
            font-family: "Gilroy Regular";
            font-size: 22px;

        }
    }
}

// политика конфеденциальности
.political-content {

    h2 {
        color: #FFF;
        font-family: "Gilroy SemiBold";
        font-size: 18px;
        line-height: 160%;
    }

    p {
        color: #FFF;
        font-family: "Gilroy Regular";
        font-size: 18px;
        line-height: 160%;

        span {
            font-family: "Gilroy Regular";
            color: #FFF;
            font-size: 18px;
            border-bottom: 1px solid#FFF;

        }
    }

    a {
        color: #FFF;
        font-family: "Gilroy Regular";
        font-size: 18px;
        line-height: 160%;
        border-bottom: 1px solid#FFF;
    }

    b {
        font-family: "Gilroy Bold";
        font-size: 18px;
        color: #FFF;
    }

    ul {
        padding-left: 40px;

        li {
            position: relative;
            color: #FFF;
            font-family: "Gilroy Regular";
            font-size: 18px;
            line-height: 160%;
            display: list-item;

            &>p {
                color: #FFF;
                font-family: "Gilroy Regular";
                font-size: 18px;
                line-height: 160%;
                display: list-item;
            }

        }
    }

}

// ----- news  single
.newsSingle {

    &-content {
        width: 692px;
    }

    &-info {

        &__title {
            color: #FFF;
            font-family: "Gilroy Regular";
            font-size: 27px;
            line-height: 150%;
            margin-bottom: 30px;
        }

        &__img {
            width: 692px;
            height: 400px;
            margin-bottom: 50px;
            overflow: hidden;
            border-radius: 20px;

        }

        &__descr {
            line-height: 150%;
            margin-bottom: 50px;
        }
    }

    &-inner {
        padding-bottom: 50px;

        ul,
        ol {

            li {
                display: flex;

                &>p {
                    color: #FFF;
                    font-family: "Gilroy Regular";
                    font-size: 14px;
                    line-height: 150%;
                }



                &>span {
                    display: flex;
                    padding: 8px 12px;
                    width: 29px;
                    height: 30px;
                    margin-right: 20px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 600px;
                    background: rgba(255, 255, 255, 0.05);


                }

                p {
                    color: #FFF;
                    font-family: "Gilroy Regular";
                    font-size: 14px;
                    line-height: 150%;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

        }

        ul {

            li {
                padding-left: 28px;
                position: relative;
                color: #FFF;
                font-family: "Gilroy Regular";
                font-size: 14px;
                line-height: 150%;

                &::after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    border-radius: 600px;
                    background: #FFF;
                }
            }
        }

        h2 {
            color: #FFF;
            font-family: "Gilroy Medium";
            font-size: 30px;
            line-height: 120%;
        }


        p {
            color: #FFF;
            font-family: "Gilroy Regular";
            font-size: 16px;
            line-height: 150%;

            span {
                color: #FFF;
                font-family: "Gilroy Regular";
                font-size: 16px;
                line-height: 150%;
            }
        }

        img {
            border-radius: 20px;
            width: 692px;
            height: 400px;
            object-fit: cover;
            pointer-events: none;
        }

        a {
            color: #FFF;
            font-family: "Gilroy Regular";
            font-size: 16px;
            line-height: 160%;
            border-bottom: 1px solid#FFF;
        }

        b {
            font-family: "Gilroy Bold";
        }


    }

    &-share {
        &__descr {
            font-size: 14px;
            padding-right: 20px;
        }

        &-app {
            &__icon {
                width: 30px;
                height: 30px;
                padding: 6px;
                border-radius: 60px;

                background: rgba(255, 255, 255, 0.10);
                position: relative;
                transition: $anim-default;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 60px;
                    background: linear-gradient(96deg, #69E6EC 26.21%, #BC69FA 102.69%);
                    opacity: 0;
                    transition: $anim-default;
                }

                img {
                    position: relative;
                    z-index: 2;
                }

                &:hover {

                    &::after {
                        opacity: 1;
                    }
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    &-aside {

        border-radius: 20px;
        background: rgba(241, 246, 251, 0.05);
        padding: 40px 30px;
        width: 387px;
        align-self: baseline;

        &-descr {
            padding-bottom: 30px;
            opacity: 0.54;
            font-size: 18px;
            font-family: "Gilroy Medium";
        }

        &-item {
            position: relative;


            &:not(:last-child) {
                padding-bottom: 40px;

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: rgba(255, 255, 255, 0.2);
                    position: absolute;
                    bottom: 20px;
                    left: 0;

                }
            }

            &__link {
                font-family: "Gilroy Medium";
                transition: $anim-default;

                &:hover {
                    color: #69afec;
                }
            }
        }
    }
}

// ТИПЫ ПОКРЫТИЙ 
.type {
    &-coating {
        &-list {
            margin-bottom: 80px;

            &__item {
                width: 49%;
                border-radius: 20px;
                padding: 30px;
                border: 1px solid rgba(255, 255, 255, 0.00);
                border-top: none;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 100%);
                color: #FFF;
                text-align: center;
                font-family: "Gilroy Regular";
                font-size: 16px;
                line-height: 140%;

                &:nth-child(3n-3) {
                    width: 100%;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }


        }
    }

    &-inner {
        &-item {
            margin-bottom: 80px;

            &__title {
                padding-bottom: 20px;
                font-family: "Gilroy Bold";
                font-size: 24px;
                line-height: 140%;
            }

            &__subtitle {
                width: 100%;
                margin-bottom: 30px;
            }
        }



        &-features {
            &__title {
                width: 784px;
                padding-bottom: 30px;
                font-family: "Gilroy Semibold";
                font-size: 16px;
                line-height: 140%;
            }

            &-list {
                margin-bottom: 50px;

                &__item {
                    position: relative;
                    padding-left: 44px;

                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        border-radius: 600px;
                        background: rgba(255, 255, 255, 0.05);
                    }
                }
            }

            &-img {
                &__item {
                    width: 386px;
                    height: 259px;
                    border-radius: 20px;
                    overflow: hidden;

                    &:not(:nth-child(3n-3)) {
                        margin-right: 20px;
                    }

                    &:not(:nth-child(-n+3)) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

// Продукция
.production {
    position: relative;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(#fff, 0.2);

}

.specification {


    &-item {
        &__title {
            padding-bottom: 20px;
            font-family: "Gilroy Bold";
            font-size: 24px;
            line-height: 140%;
        }
    }

    &-video {
        width: 1200px;
        height: 600px;
    }
}

@media screen and (max-width: 1360px) {
    .partners {
        &-panel {
            left: -60px;
            width: calc(100% + 120px);
        }

        &-block {
            width: 90%;
            margin: 0 auto;
        }
    }
}


@media screen and (max-width: 1240px) {
    .container {
        width: 992px;
    }

    .intro {
        &-info {
            width: 554px;

            &__title {
                font-size: 50px;

                span {
                    font-size: 50px;
                }
            }
        }

        &__image {
            width: 398px;
            height: 355px;
        }
    }

    .partners {

        &-panel {

            left: -55px;
            width: calc(100% + 105px);

        }

    }

    .title {
        font-size: 45px;

        span {
            font-size: 45px;
        }

    }

    .mission {
        &-info {
            width: 354px;
        }

        &-video {
            width: 535px;
            height: 390px;
        }
    }

    .how {
        &-slider {
            &-item {
                width: 363px;
                min-height: 217px;

                &__image {
                    width: 60px;
                    height: 100px;
                }
            }
        }
    }


    .objects {
        &-card {
            &-img {
                    width: 302px;      
            }
            &-info {
                width: 548px;
            }
            &-info {

                &-img {

                    li {

                        &:not(:nth-child(-n+7)) {
                            margin-top: 20px;
                        }

                        &:not(:nth-child(9n+9)) {
                            margin-right: unset;
                        }

                        &:not(:nth-child(7n+7)) {
                            margin-right: 20px;
                        }


                    }
                }
            }
        }

    }

    .news {
        &-card {
            width: 223px;

            &__img {
                width: 223px;
                height: 223px;
            }
        }
    }

    .review {
        &-card {
            padding: 30px;
            width: 466px;
        }

        &-img {
            width: 80px;
            height: 80px;
        }

        &-info {
            width: 294px;
        }
    }

    .map {
        width: 490px;
    }

    .error {

        // 404
        &-info {
            width: 364px;


            &__descr {
                width: 364px;
                font-size: 20px;
                padding-bottom: 50px;
            }

            span {

                font-size: 14px;

            }
        }


        &__image {
            width: 500px;
            height: 258px;
        }
    }

    // .newsSingle

    .newsSingle {
        &-aside {
            width: 230px;
        }
    }

    .review .type-inner-features-img__item {
        width: 466px;
    }

    .type-inner-features-img__item {
        &:not(:nth-child(3n-3)) {
            margin-right: 0px;
        }

        &:not(:nth-child(2n-2)) {
            margin-right: 20px;
        }

        &:not(:nth-child(-n+2)) {
            margin-top: 20px;
        }
    }
}



@media screen and (max-width: 992px) {
    .container {
        width: 768px;
        padding: 0 15px;
    }

    .pb-130 {
        padding-bottom: 100px;
    }

    .intro {
        &-info {
            width: 420px;

            &__descr {
                width: 273px;
                font-size: 16px;

            }
        }

        &__image {
            width: 295px;
        }
    }

    .partners {
        &-block {
            width: 85%;
        }
    }

    .mission {
        &-video {
            width: 366px;
            height: 247px;
        }

        &-info {
            &__descr {
                font-size: 16px;
            }
        }
    }

    .how {
        &-slider {
            &-item {
                width: 284px;
                min-height: 228px;
            }
        }
    }

    .objects {
        &-card {
            &-info {
                width: 374px;

                &__title {
                    margin: 10px 0 15px 0;
                }

                &__descr {
                    margin-bottom: 25px;
                }
            }

            &-img {
                width: 260px;
                height: 180px;
            }

        }

        .objects {
            &-card {
                &-info {

                    &-img {

                        li {

                            &:not(:nth-child(-n+5)) {
                                margin-top: 20px;
                            }

                            &:not(:nth-child(7n+7)) {
                                margin-right: unset;
                            }

                            &:not(:nth-child(5n+5)) {
                                margin-right: 15px;
                            }


                        }
                    }
                }
            }

        }

    }

    .news {
        &-card {
            width: 169px;

            &__img {
                width: 169px;
                height: 169px;
            }

            &::before {
                height: 55%;
            }
        }
    }

    .review {
        &-card {
            padding: 30px;
            width: 359px;
        }

        &-img {
            width: 70px;
            height: 70px;
        }

        &-info {
            width: 197px;

            &__descr {
                font-size: 14px;
            }
        }
    }

    .contact {
        &-block {
            width: 380px;

            &-message {
                margin-bottom: 30px;
                width: 380px;
            }

            &__comment {
                width: 380px;
            }
        }
    }

    .map {
        width: 330px;
    }

    .footer-top {
        &__logo {
            margin-right: 60px;
        }

        &__nav ul li:not(:last-child) {
            margin-right: 30px;
        }
    }

    // .newsSingle

    .newsSingle {
        &-info {
            &__img {
                width: 738px;
            }
        }

        &-inner img {
            width: 738px;
        }

        &-content {
            width: 738px;

        }

        &-wrapper {
            flex-direction: column;
        }

        &-aside {
            order: -1;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 30px;


        }
    }

    // 404
    .error {
        padding-bottom: 70px;
        margin-bottom: 60px;

        &-info {
            width: 264px;


            &__descr {
                width: 264px;
            }
        }


        &__image {
            width: 374px;
            height: 258px;
        }
    }

    // type
    .type-inner-features-img__item {
        width: 359px
    }


}

@media screen and (max-width: 768px) {
    .container {
        width: 576px;
    }

    .title {
        font-size: 40px;

        span {
            font-size: 40px;
        }

    }

    .btn-a {
        margin: unset;
        width: 100%;
    }

    .btn {
        margin: 0 0 40px 0;
        width: 100%;
    }

    .pb-130 {
        padding-bottom: 80px;
    }

    .header {
        &__nav {
            display: none;
        }

        &-wrapper {
            justify-content: space-between;
        }

        // 





        .menu {
            display: none;
            padding: 15px;
            background: rgba(255, 255, 255, 0.10);
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
            border-radius: 15px;
            position: absolute;
            z-index: 4;
            top: 20px;
            right: 135px;
            transition: all 0.5s ease;

            ul {


                li {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    a {
                        color: #FFFFFF;
                        font-family: 'Gilroy Regular';
                        transition: $anim-default;
                        line-height: 100%;

                        &:hover {
                            color: #69afec;
                        }
                    }
                }
            }
        }


        .menu.active {
            display: block;
        }

        // 
        &-burger {
            display: flex;
            position: relative;
            justify-content: center;
            width: 34px;
            height: 34px;

            .bar {
                position: absolute;
                width: 34px;
                height: 2px;
                left: 0;
                background-color: #FFF;
                margin: 3px 0;
                border-radius: 50px;
                transition: $anim-default;

                &:nth-child(1) {
                    top: 13px;


                }

                &:nth-child(2) {
                    top: 22px;


                }

                &:nth-child(3) {
                    top: 31px;


                }


            }

            &.active .bar:nth-child(1) {
                transform: rotate(-45deg) translate(-4px, 4px);
            }

            &.active .bar:nth-child(2) {
                opacity: 0;
            }

            &.active .bar:nth-child(3) {
                transform: rotate(45deg) translate(-8px, -8px);
            }
        }
    }

    .intro {


        &-info {
            width: 556px;
            margin-bottom: 20px;

            &__title {
                text-align: center;
            }

            &__descr {
                text-align: center;
                width: unset;
            }

            &__btn {
                margin: 0 auto;
                width: 100%;
            }
        }

        &-wrapper {
            padding-bottom: 30px;
            justify-content: center;
            flex-direction: column;
        }

        &__image {
            width: 375px;
            height: 455px;
        }
    }


    .partners {

        &-slider {

            &-pagination {
                display: flex;
                position: absolute;
                bottom: -40px !important;
                left: 85% !important;
                transform: translateX(-50%);

            }
        }

        .swiper-pagination-bullet {
            background: rgba(255, 255, 255, 0.2);

            &-active {
                background: #fff;

            }
        }


    }

    .mission {
        &-wrapper {
            justify-content: center;
            flex-direction: column;
        }

        &-info {
            width: 100%;

            &__descr,
            &__title {
                text-align: center;
            }

            &__title {
                margin-bottom: 20px;
            }

            &__descr {
                margin-bottom: 30px;
                font-size: 18px;
            }
        }

        &-video {
            width: 100%;
            height: 500px;
        }

    }

    .how {
        &__title {
            text-align: center;
        }
    }

    .objects {
        &-block_width {
            display: none;
        }

        .objects-swiper {
            display: flex;
        }

        &-card {
            padding: 20px;

            &:not(:last-child) {
                margin-bottom: 0;
            }

            &-img {
                width: 504px;
                height: 268px;
                margin: 0 0 10px 0;
            }

            flex-direction: column;

            &-info {
                width: 504px;

                &__title {
                    margin: 0 0 20px 0;
                }

                &-img {
                    order: -1;
                    margin: 0 42px 30px 42px;

                    li {
                        &:not(:nth-child(-n+5)) {
                            margin-top: unset !important;
                        }

                        &:not(:nth-child(-n+6)) {
                            margin-top: 12px !important;
                        }

                        &:not(:nth-child(5n+5)) {
                            margin-right: unset !important;
                        }

                        &:not(:nth-child(6n+6)) {
                            margin-right: 12px !important;
                        }


                    }

                }
            }

        }



        &__pagination {
            bottom: 66px !important;

            .swiper-pagination-bullet {
                background: rgba(255, 255, 255, 0.2);

                &-active {
                    background: #fff;

                }
            }
        }
    }

    .news {

        &-block {

            flex-wrap: unset;

        }

        &-card {
            width: 285px;

            &__img {
                width: 285px;
                height: 285px;
            }
        }

    }

    .review {
        &-wrapper {
            .btn-a {
                margin: unset;
                width: 100%;
            }
        }

        &-block {
            padding-bottom: 30px;
        }

        &-card {

            flex-direction: column;
            width: 100%;

            &:not(:nth-child(2n+2)) {
                margin-right: 0;
            }

            &:not(:first-child) {
                display: none;
            }
        }

        &-img {
            margin-bottom: 30px;
            padding: 25px;
            width: 90px;
            height: 90px;
        }

        &-info {
            width: 100%;
        }
    }

    .contact {
        &-wrapper {
            flex-direction: column;
        }

        &-message {
            &-email {
                margin-bottom: 30px;
            }

            &-app {
                justify-content: center;
            }

            &-comment {
                display: flex !important;
                text-align: center;
                margin-bottom: 30px;
            }
        }

        &-block-message {
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;

        }


        &-block {
            width: 100%;
            display: flex;
            flex-direction: column;

            &__title {
                text-align: center;
            }

            &-descr {
                text-align: center;
            }


            &__comment {
                display: none;
            }

        }


        .map {
            width: 100%;
            height: 305px;
            margin-top: 30px;
        }
    }

    .footer {
        &-top {
            &__logo {
                margin: 0 0 40px 0;
            }

            &__nav {
                ul {
                    flex-direction: column;

                    li {
                        text-align: center;

                        &:not(:last-child) {
                            margin: 0 0 20px 0;
                        }
                    }
                }
            }

            .container {
                align-items: center;
                flex-direction: column;
            }
        }

        &-end {
            padding: 30px 0 20px 0;

            .container {
                flex-direction: column;
                align-items: center;
            }

            &__comit {
                margin-bottom: 20px;
            }
        }
    }

    .header-child {
        padding: 33px 0 20px 0;
    }

    .breadcrumbs {
        margin-bottom: 50px;

        &-list li a span {
            font-size: 10px;
        }
    }

    // .newsSingle

    .newsSingle {
        &-info {
            &__title {
                font-size: 24px;
            }

            &__img {
                width: 546px;
                height: 315px;
            }
        }

        &-inner img {
            width: 546px;
            height: 315px;
        }

        &-content {
            width: 546px;

        }

        &-wrapper {
            flex-direction: column;
        }

        &-aside {
            order: -1;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 30px;


        }

    }

    // 404




    .error {
        padding-bottom: 70px;
        margin-bottom: 60px;


        &-wrapper {
            flex-direction: column;

        }

        &-info {
            width: 100%;

            &__title {
                font-size: 40px;
                text-align: center;
            }

            &__descr {
                width: 100%;
                font-size: 16px;
                padding-bottom: 50px;
                text-align: center;
            }

        }


        &__image {
            width: 100%;
            height: 235px;
        }
    }

    // NEWS 
    .news {
        &-block {
            &_child {
                flex-wrap: wrap;
            }

        }

        &-card {
            &_child {
                width: 250px;

                &:not(:nth-child(2n+2)) {
                    margin-right: 20px;
                }

                &:not(:nth-child(-n+2)) {
                    margin-top: 60px;
                }

            }

            &__img_child {
                width: 250px;
            }
        }
    }

    // objects
    .objects-card_child {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    // review
    .review-card_child:not(:first-child) {
        display: flex;


        &:not(:nth-child(2n+2)) {
            margin-right: 0;
        }

        &:not(:first-child) {
            display: flex;
            margin-top: 20px;
        }

    }


    // typr
    .type-inner-features-img__item {
        width: 546px;
        height: 365px;

        &:not(:nth-child(-n+2)) {
            margin-top: 0px;
        }

        &:not(:nth-child(2n-2)) {
            margin-right: 0px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }





}

@media screen and (max-width: 576px) {
    .container {
        width: 375px;
        padding: 0 10px;
    }

    .title {
        font-size: 27px;
        line-height: 100%;

        span {
            font-size: 27px;
            line-height: 100%;
        }

    }

    .btn-a {
        padding: 18px 30px;
    }

    .pb-130 {
        padding-bottom: 60px;
    }

    .intro {
        &-info {
            width: 355px;
            margin-bottom: 20px;

            &__title {
                margin-bottom: 20px;
                font-size: 32px;

                span {
                    font-size: 32px;
                }
            }

            &__descr {
                width: 100%;
                font-size: 18px;
                padding-bottom: 30px;
            }
        }

        &__image {
            width: 269px;
            height: 326px;
        }
    }

    .mission {
        &-video {
            width: 355px;
            height: 300px;
        }
    }

    .how {
        &-slider {
            &-item {
                width: 248px;
                min-height: 210px;

                &__descr {
                    font-size: 14px;
                }
            }


        }
    }

    .objects {
        &-card {
            width: 355px !important;

            &-img {
                width: 315px;
                height: 188px;


            }

            &-info {
                width: 315px;

                &-img {
                    margin: 0 0 30px 0;
                    justify-content: center;

                    li {
                        &:not(:nth-child(-n+4)) {
                            margin-top: 10px !important;
                        }

                        &:not(:nth-child(6n+6)) {
                            margin-right: unset !important;
                        }

                        &:not(:nth-child(4n+4)) {
                            margin-right: 10px !important;
                        }




                    }
                }

                &__descr {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                &__title {
                    font-size: 18px;
                }

            }
        }

    }

    .news {
        &-wrapper {
            &__title {
                padding-bottom: 30px;
            }
        }

        &-card {
            width: 248px;

            &__img {
                width: 248px;
                height: 248px;
            }
        }

        &-block {
            padding-bottom: 40px;
        }
    }


    .page {
        &__btn {
            width: 33px;
            height: 33px;
            padding: 10px;

            &:not(:last-child) {
                margin-right: 5px;
            }

            span {
                font-size: 10px;
            }
        }
    }

    //news
    .news {
        &-block {
            &_child {
                flex-wrap: wrap;
            }

        }

        &-card {
            &_child {
                width: 355px;
                margin: 60px 0px 0 0;

                &::before {
                    height: 60%;
                }

            }

            &__img_child {
                width: 355px;
            }
        }
    }

    // .newsSingle

    .newsSingle {
        &-info {
            &__title {
                font-size: 18px;
            }

            &__descr {
                font-size: 14px;
            }

            &__img {
                width: 355px;
                height: 200px;
            }
        }

        &-inner img {
            width: 355px;
            height: 200px;
        }

        &-content {
            width: 355px;

        }

        &-wrapper {
            flex-direction: column;
        }

        &-aside {
            order: -1;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 30px;

            &-descr {
                font-size: 14px;
            }

            &-item__link {
                font-size: 14px;
            }


        }
    }

    // type

    .type-inner-features-img__item {
        width: 100%;
        height: 240px;

    }

    .type-coating-list__item {
        font-size: 14px;
    }


}